[user]
    name = Adrian Smith
    email = adrian@17od.com
[color]
    ui = true
[alias]
    st = status
    df = diff
    dc = diff --cached
    co = checkout
    cm = commit
    ca = commit --amend
    rv = review
[core]
    editor = vi
